---
layout: archive
---

{{ content }}

<h1>About</h1>

<p>
I am Associate Professor of Sociology of Social Policy in the <a href="https://www.sowi.hu-berlin.de/en/index.html?set_language=en">Department of Social Sciences</a> at <a href="https://www.hu-berlin.de/en?set_language=en">Humboldt-Universität zu Berlin</a> and Senior Research Fellow in the <a href="https://www.diw.de/en/diw_01.c.615551.en/research_infrastructure__socio-economic_panel__soep.html">Socio-Economic Panel</a> group at the <a href="https://www.diw.de/en">German Institute for Economic Research</a> (DIW Berlin). 

<p>
My main research interests are in social inequalities over and between life courses of individuals in divergent institutional contexts focusing on the family, wealth, and employment. I mainly work with longitudinal survey data. 
</p>

<p>
My work was published in outlets such as American Sociological Review, Demography, European Sociological Review, Journal of Marriage and Family, and Social Forces. My research has been supported by the German Research Foundation, the German Academic Exchange Service, and the Einstein Foundation Berlin.
</p>

<p>
See my full CV <a href="https://box.hu-berlin.de/f/9f15157304624b29b2c9/?dl=1">here</a>.
</p>

